.links-custom {
  color: #007FFF;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 14px;
  text-align: right;
}

.intro-black {
  color: #000000;
  font-family: Nunito;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  width: 550px;
  text-align: left;
}

.intro-color {
  color: #007FFF;
  font-family: Nunito;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  width: 550px;
  text-align: left;
}

.intro-black-small {
  color: #000000;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  width: 550px;
  t